<!--
   snake.html
   
   Copyright 2021 Miguel de Dios Matias <tres.14159@gmail.com>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 3 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->
<head>
    <title>Serpiente</title>
    <style type="text/css">
        #pantalla {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <body>
        <canvas id="pantalla"></canvas>
    </body>
    <script type="text/javascript">
        
        var canvas = document.getElementById('pantalla');
        // Sin estas lineas sale borroso.
        var width = canvas.clientWidth;
        var height = canvas.clientHeight;
        canvas.width = width;
        canvas.height = height;
        
        const VACIO = 0;
        const MANZANA = 1;
        const SERPIENTE = 2;
        const OUT = 3;
        
        const FPS = 30;
        
        const DERECHA = 0;
        const IZQUIERDA = 1;
        const ARRIBA = 2;
        const ABAJO = 3;
        
        var ctx = canvas.getContext("2d");
        
        function pintar_frame(ctx, tablero, puntos) {
            const FONT_PUNTOS_H = 25;
            
            ctx.fillStyle = "#000000";
            ctx.fillRect(0, 0, width, height);
            
            ctx.fillStyle = "#ffffff";
            ctx.font = FONT_PUNTOS_H + "px Arial";
            ctx.textAlign = "start";
            
            var txt = "Puntos: " + puntos;
            
            var txt_w = ctx.measureText(txt).width;
            ctx.fillText(txt, (canvas.width - txt_w) / 2, FONT_PUNTOS_H);
            
            ctx.strokeStyle = "#ffffff";
            ctx.lineWidth = 1;
            ctx.strokeRect(9, 29, (casillas_w * 10) + 2, (casillas_h * 10) + 2);
            
            for (var x = 0; x < casillas_w; x++) {
                for (var y = 0; y < casillas_h; y++) {
                    switch (tablero[x][y]) {
                        case MANZANA:
                            ctx.fillStyle = "#ff0000";
                            break;
                        case SERPIENTE:
                            ctx.fillStyle = "#00ff00";
                            break;
                        default:
                            ctx.fillStyle = "#000000";
                    }
                    var pos_x = 10 + (x * 10) + 1;
                    var pos_y = 30 + (y * 10) + 1;
                    ctx.fillRect(pos_x, pos_y, 8, 8);
                }
            }
        }
        
        function poner_manzana(tablero) {
            var rand_x = Math.floor(Math.random() * casillas_w);
            var rand_y = Math.floor(Math.random() * casillas_h);
            tablero[rand_x][rand_y] = MANZANA;
        }
        
        var casillas_w = Math.floor(width / 10)  - 2;
        var casillas_h = Math.floor(height / 10)  - 2 - 3;
        var puntos = 0;
        var tablero = Array.from(Array(casillas_w), ()=>Array(casillas_h));
        
        var serpiente = [];
        var direccion = DERECHA;
        
        var engordar = 0;
        
        var reloj;
        
        function iniciar_serpiente() {
            for (var i = 0; i < 4; i++) {
                var x = Math.floor((tablero.length)  / 2) +  i;
                var y = Math.floor(tablero[0].length / 2);
                tablero[x][y] = SERPIENTE;
                serpiente.push({x: x, y: y});
            }
        }
        
        function chequear() {
            var sig_x = 0;
            var sig_y = 0;
            switch (direccion) {
                case DERECHA:
                    sig_x++;
                    break;
                case IZQUIERDA:
                    sig_x--;
                    break;
                case ABAJO:
                    sig_y++;
                    break;
                case ARRIBA:
                    sig_y--;
                    break;
            }
            
            var cabeza = serpiente.length - 1;
            
            if ((serpiente[cabeza].x + sig_x < 0) || (serpiente[cabeza].y + sig_y < 0)
                || (serpiente[cabeza].x + sig_x > (casillas_w - 1)) || (serpiente[cabeza].y + sig_y > (casillas_h - 1))) {
                    return OUT;
            }
            
            return tablero[serpiente[cabeza].x + sig_x][serpiente[cabeza].y + sig_y];
        }
        
        function mover_serpiente() {
            var sig_x = 0;
            var sig_y = 0;
            switch (direccion) {
                case DERECHA:
                    sig_x++;
                    break;
                case IZQUIERDA:
                    sig_x--;
                    break;
                case ABAJO:
                    sig_y++;
                    break;
                case ARRIBA:
                    sig_y--;
                    break;
            }
            
            var cabeza = serpiente.length - 1;
            var x = serpiente[cabeza].x + sig_x;
            var y = serpiente[cabeza].y + sig_y;
            serpiente.push({x: x, y: y});
            tablero[x][y] = SERPIENTE;
            if (engordar == 0) {
                tablero[serpiente[0].x][serpiente[0].y] = VACIO;
                serpiente.shift();
            }
            else {
                engordar--;
            }
        }
        
        function comer_serpiente() {
            puntos++;
            
            var sig_x = 0;
            var sig_y = 0;
            switch (direccion) {
                case DERECHA:
                    sig_x++;
                    break;
                case IZQUIERDA:
                    sig_x--;
                    break;
                case ABAJO:
                    sig_y++;
                    break;
                case ARRIBA:
                    sig_y--;
                    break;
            }
            
            var cabeza = serpiente.length - 1;
            tablero[serpiente[cabeza].x + sig_x][serpiente[cabeza].y + sig_y] = VACIO;
            poner_manzana(tablero);
            engordar = 2;
        }
        
        function loop_juego() {
            switch (chequear()) {
                case OUT:
                case SERPIENTE:
                    alert("GAME OVER");
                    clearInterval(reloj);
                    break;
                case MANZANA:
                    comer_serpiente();
                    break;
                default:
                    mover_serpiente();
                    break;
            }
            pintar_frame(ctx, tablero, puntos);
        }
        
        // ---INIT---Iniciar juego
        for (var i = 0; i < 10; i++) {
            poner_manzana(tablero);
        }
        iniciar_serpiente();
        pintar_frame(ctx, tablero, puntos);
        // ---END---Iniciar juego
        
        console.log(reloj);
        reloj = setInterval(loop_juego, 1000 / FPS);
        console.log(reloj);
        
        document.onkeydown = function(evt) {
            evt = evt || window.event;
            var charCode = evt.keyCode || evt.which;
            switch (charCode) {
                case 38:
                    sig_direccion = ARRIBA;
                    break;
                case 40:
                    sig_direccion = ABAJO;
                    break;
                case 37:
                    sig_direccion = IZQUIERDA;
                    break;
                case 39:
                    sig_direccion = DERECHA;
                    break;
            }
            
            if ((sig_direccion == ARRIBA && direccion == ABAJO)
                || (sig_direccion == ABAJO && direccion == ARRIBA)
                || (sig_direccion == DERECHA && direccion == IZQUIERDA)
                || (sig_direccion == IZQUIERDA && direccion == DERECHA)) {
                // PASS
            }
            else {
                direccion = sig_direccion;
            }
        };
    </script>
</head>
