<h1>PRUEBA IFRAME</h1>
<a (click)="enviar()">ENVIAR</a>
<iframe #iframe id="iframe" src="iframe.html" width="100%" height="300px"></iframe>
<div id="respuesta" style="min-width:100%; min-height: 300px; border: 2px green solid;">
  {{respuesta$ | async | json}}
</div>
